.toolbar {
  display: flex;
  flex-shrink: 0;
  flex-direction: row-reverse;
  background-color: inherit;
  min-width: -webkit-min-content;
  margin: 0 -10px -10px -10px;
  filter: brightness(75%);
}

.iconButton {
  cursor: pointer;
  padding: 8px;
  margin: 2px;
}

.colorPickerContainer {
  position: absolute;
  bottom: -60px;
  right: 47px;
}