@import '../../scss/global';

.toolbar {
  user-select: none;
  display: flex;
  flex-shrink: 0;
  position: relative;
  justify-content: space-between;
  background-color: inherit;
  min-width: -webkit-min-content;
  margin: 0 -10px -10px -10px;
  background-color: rgba(0,0,0,.2);
  //filter: brightness(75%);

  .left {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    order: 0; 
  }

  .right {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    order: 1;
  }
}

.tagContainer {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    user-select: none;
    cursor: pointer;

    .tag {
      color: $c_text_hint;
      margin: 0 $gap/4;
      padding: 0.2em 0.2em;
      background-color: rgba(27, 31, 35, 0.05);
      font-size: 85%;
      font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }
  }

.iconButton {
  cursor: pointer;
  padding: 8px;
  margin: 2px;

  &:hover {
    color: $c_text_hint_light;
  }
  &.alert {
    &:hover {
      color: rgba(255, 0, 0, .6);
    }
  }
}

.colorPickerContainer {
  position: absolute;
  bottom: -95px;
  right: 47px;
}

.timestamp {
  color: $c_text_hint;
  font-style: italic;
  padding: 0 $gap;
  font-size: .9em;
}