doctype html

html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		// 3rd party sources
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
		script(src="/gun.js")
		script(async src="/3rd_party/react.min.js")
		script(async src="/3rd_party/react-dom.min.js")
		script(async src="/3rd_party/marked.min.js")
		
		
		
		link(rel="shortcut icon", href="/favicon.ico")
		link(rel="stylesheet", href="/index.min.css")
		link(rel="stylesheet", href="/markdown.min.css")
		script(async src="http://localhost:35729/livereload.js")
		script(async src="/index.js")
		
		title Stickies
	body
		#app
