extends layout

mixin intro(text)
  h1=text

block main
  if portal == 'Public'
    +intro('This is a public area for public things')
  else if portal == 'Private'
    +intro('Being Secretive?  Thats ok.')
  else
    h1=portal
  