@import '../../scss/global.scss';

.content {
  max-width: 500px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  background-color: $c_default_content_background;
  margin: $gap;

  color: $c_text;
  overflow: hidden;
  @include boxShadow;

  .contentContainer {
    flex-grow: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .title, .body {
      pointer-events: none;
      outline: none;
      border: none;
      word-wrap: break-word;
      overflow: hidden;
      user-select: none;
    }

    .title {
      padding: 10px 10px 5px 10px;
      font-weight: bold;
      flex-grow: 0;
    }
    .body {
      word-wrap: break-word;
      flex-grow: 2;
      padding: 5px 10px 10px 10px;;
    }
  }

  
  &.open {
    overflow: visible;
    //position: fixed;
    max-height: 80%;
    //left: 0;
    //top: 0;
    margin: auto;
    //transform: translate(calc(50vw - 50%), calc(50vh - 50%));
    padding: 10px;
    z-index: 1;
    @include boxShadow-open;

    .contentContainer {
      overflow: auto;

      .title, .body {
        pointer-events: auto;
        user-select: auto;
        overflow: visible;
        white-space: pre-wrap;
        &:empty:not(:focus):before {
          content:attr(data-placeholder);
          color: $c_text_hint;
        }
      }
      .body {
        margin-top: 10px;
      }
    }

    
  } // end .open 
}