@import '../../scss/global.scss';

@media only screen and (max-device-width: 650px) {
  .container {
    min-width: 90vw;
  }
}

.container {
  margin: 50px auto;
  display: flex;
  background-color: $c_default_content_background;
  min-width: 50vw;
  color: $c_text;
	@include boxShadow;

  &.open {
    box-shadow: $shadow_card !important;
  }
}

.placeholderText {
  color: $c_text_hint;
  padding: 10px;
  outline: none;
  border: none;
  flex-grow: 2;
}

.wide {
	width: 100%;
}

.typeFlow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $c_background;
  min-height: 50px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &.closed {
    height: 0;
    min-height: 0;
    overflow: hidden;
  }

  .componentContainer {
    position: relative;
    

    .componentTitle {
      height: 22px;
      z-index: 2;
      position: absolute;
      margin: $gap;
      bottom: -2px;
      left: -10px;
      box-shadow: $shadow_card;
      padding: 6px;
      background-color: $c_primary;
    }
  }
}