$c_border: #bbb;
$c_background: #e8e8e8;
$c_default_content_background: white;
$c_text: rgba(0,0,0,.70);
$c_text_hint: rgba(0, 0, 0, .40);

body {
	margin: 0;
	background-color: $c_background;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.Button {
	cursor: pointer;
	padding: 8px;
	margin: 2px;
}

.App {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;

	.CreateNoteBar {
		margin: 50px auto;
		display: flex;
		background-color: $c_default_content_background;
		color: $c_text;
		min-width: 50vw;

		.textEntry {
			color: $c_text_hint;
			padding: 10px;
			outline: none;
			border: none;
			flex-grow: 2;

		}

		&.entry {
			flex-direction: column;
			min-height: 200px;
		}
	}
}

.StickyContainer {
	display: flex;
	flex-wrap: wrap-reverse;
	min-width: 100px;
	min-height: 100px;

	align-items: flex-end;
	justify-content: center;
}

.note-container {
	flex-shrink: 1;
	width: 250px;
}
.Note {
	max-width: 400px;
	max-height: 400px;
	min-width: 200px;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	background-color: $c_default_content_background;
	margin: 10px;
	color: $c_text;

	transition: transform 250ms ease-in-out;
	overflow: hidden;

	&.popout {
	//	overflow-y: auto;
		position: fixed;
		max-height: 80%;
		left: 0;
		top: 0;
		margin: auto;
		transform: translate(calc(50vw - 50%), calc(50vh - 50%));
	}
}

.Note, .CreateNoteBar {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);

	&.new {
		height: 0px;
		min-height: 0px;
		//TODO use new class, remove after first render
		// to animate notes being added
	}

	&.popout, &.entry {
		padding: 10px;
		overflow: hidden;
		box-shadow: 0 1px 3px rgba(0,0,0,0.24),0 1px 2px rgba(0,0,0,0.48);

		.title, .body {
			pointer-events: auto;
			user-select: auto;
			overflow-y: auto;
			white-space: pre-wrap;
			&:empty:not(:focus):before {
				content:attr(data-placeholder);
				color: $c_text_hint;
			}
		}

		.body {
			margin-top: 10px;
			overflow-y: auto;
		}
	}

	.title, .body {
		pointer-events: none;
		outline: none;
		border: none;
		word-wrap: break-word;
		overflow: hidden;
		user-select: none;
	}

	.title {
		padding: 10px 10px 5px 10px;
		font-weight: bold;
	}
	.body {
		word-wrap: break-word;
		flex-grow: 2;
		padding: 5px 10px 10px 10px;;
	}

	.Toolbar {
		display: flex;
		flex-direction: row-reverse;
		background-color: inherit;
		min-width: -webkit-min-content;
		margin: 0 -10px -10px -10px;
		filter: brightness(75%);
		//padding: 10px;
	}
}

@media only screen and (max-device-width : 650px) {
	.App {
		.CreateNoteBar {
			min-width: 90vw;
		}
	}
}

@media only screen and (max-device-width : 499px) {
	.note-container {
		min-width: 40vw;
		max-width: 90vw;
		width: auto;
	}
}



::-webkit-scrollbar {
  width: 2px;

}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
}
